fastapi
uvicorn[standard]

sqlalchemy
pydantic
pydantic-settings

python-dotenv
python-multipart

pymupdf

langchain
langchain-community
langchain-openai

chromadb

sentence-transformers

tensorflow

scikit-learn
numpy
pandas

google-genai
openai

pytest

aiofiles